@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}
nav li {
  padding: 0 12px;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 130vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  width: 91%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg.jpg");
}
.bottom {
  position: static;
  height: 36vh;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon {
  margin: 14px;
  cursor: pointer;
}
#myprogessbar {
  width: 200vh;
}
.songiteamcontainer {
  margin-top: 74px;
}
.songiteam {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  width: 80%;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songiteam img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}
.timestamp {
  margin: 0 23px;
}
.timestamp i {
  cursor: pointer;
}
.songinfo {
  position: relative;
  left: 10vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.songinfo img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
